.footer_pagina{
    background-image: url("../assets/backgroundvalorant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vh;
    width: 100%;
    background-color: blanchedalmond;
    bottom: 0;
}

.footer_pagina nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 20px;
}



.footer_pagina .icone_link{
    width: 40px;
    height: 40px;
    color: whitesmoke;
}

.icone_link:hover{
     color: rgb(224, 83, 83);
}

@media (max-width: 768px){
    .footer_pagina .icone_link{
        width: 30px;
        height: 30px;
    }
}